.fundoLogin {
    background-image: url("../../assets/img/photos-about/photo-03.jpg");
    background-repeat: no-repeat;
    min-height: 100vh;
    width: 100%;
    background-size: cover;
    background-position: center;
}
